*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../image/background_body.jpg);
    background-position:center;
    background-size: cover;
}

.title{
    color: black;
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-top: 5px;
    text-transform: uppercase;
    text-shadow: white;
}

.menu{
    text-align: center;
    color: black;
    margin-top: none;
    padding: 25px;
    background-color: black;
    word-spacing: 60px;
}

.menu a {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menu a:hover{
    color: blue;
}

.menu-image-logo{
padding: auto;
}

.image-logo{
    position: fixed;
}
